{% extends 'templates/template.twig' %}
{% block title %}Úvod{% endblock %}
{% block content %}
    <h2>Vítejte</h2>
    <p>Současná podoba bezpečnostních konferencí je postavena zpravidla na marketingových a obchodních prezentací pre-sales jednotlivých dodavatelských společností. Jak se tedy seznámit s opravdovým uživatelským přínosem?</p>

    <p>Na naší konferenci Security nemají marketingově-obchodní prezentace místo. Odborná úroveň jednotlivých přednášek a maximální přínos pro účastníky je hlavním cílem naší akce. Na praktickou využitelnost příspěvků klademe velký důraz. Program stavíme na případových studiích prezentovaných přímo zákazníkem. Nebojíme se ani představení neúspěšných projektů, aby se ukázala rizika a bylo možné se poučit z provedených chyb.</p>
{% endblock %}