{% extends 'templates/template.twig' %}
{% block title %}Kdy a kde{% endblock %}
{% block content %}
    <h2>Kdy a kde</h2>
    <p><strong>Kdy: </strong>Čtvrtek 23. 2. 2017</p>
    <p><strong>Kde: </strong>Clarion Congress Hotel, Praha 9</p>

    <iframe src="//api.mapy.cz/frame?params=%7B%22x%22%3A14.501159621519887%2C%22y%22%3A50.109742727735046%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A16%2C%22url%22%3A%22https%3A%2F%2Fmapy.cz%2Fs%2F1gdsC%22%2C%22mark%22%3A%7B%22x%22%3A%2214.501159621519887%22%2C%22y%22%3A%2250.109742727735046%22%2C%22title%22%3A%22Clarion%20Congress%20Hotel%20Prague%22%7D%2C%22overview%22%3Atrue%7D&amp;width=500&amp;height=350&amp;lang=cs" width="500" height="350" style="border:none" frameBorder="0"></iframe>
{% endblock %}