{% extends 'templates/template.twig' %}
{% block title %}Úprava hodnocení{% endblock %}
{% block content %}
    <h2>Úprava hodnocení</h2>
    <div class="form-group col-md-6 col-md-offset-3 col-xs-12">
        <form method="post" action="#">
            <select class="form-control" name="originalita">
                {% for key, user in users %}
                    <option value="{{ user.id }}">{{ user.login }} - {{ user.jmeno }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-success">Potvrdit</button>
        </form>
    </div>
{% endblock %}