{% extends 'templates/template.twig' %}
{% block title %}Moje hodnocení{% endblock %}
{% block content %}
    <h2>Úprava recenze</h2>
    <div class="form-group col-md-8 col-md-offset-2 col-xs-12">

    </div>
{% endblock %}